@font-face {
    font-family: 'Yekan';
    src: url('/src/assets/fonts/Yekan.ttf');
}
@font-face {
    font-family: 'Lalezar';
    src: url('/src/assets/fonts/Lalezar-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yekan', sans-serif;
}